#app{
    max-width:  45%;
    background-color: #4c82c2!important;
    opacity: 0.9;
}
#user{
    width: 30vh;
    height: 30vh;
    display:block;
    margin:auto;
}

#conterti{
    max-width:  60%;
    opacity: 1!important;
    background-color: #fffbfb !important;
    
    

}

body{
    background-color: #ffffff;
}

