<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar ensamblador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/view.css">
</head>

<body>
    <div class="container-sm border border-dark mt-5 mb-5 rounded " id="app">



        <div class="row  mb-2" id="title">
            <div class="col-10 text-center">
                <h1>
                    Editar datos de ensamblador
                </h1>
            </div>
            <div class="col-2 d-flex flex-row-reverse">
                <h1><a href="../view/administrator.html"> <i class='fa-solid fa-arrow-right-from-bracket'
                            style=color:black></i></a></h1>
            </div>
        </div>


        <div class="row">
            <div class="col mb-2">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">Valor salario base</span>
                    </div>
                    <input v-model.number="baseSalary2" type="text" class="form-control col-6 m"
                        placeholder="Valor salario base" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="error1" v-if="error1" style="color:red;">Por favor llene el campo de valor salario
                    base</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">% de horas extras</span>
                    </div>
                    <input v-model.number="overtimePercentage" type="text" class="form-control col-6  mb-2  "
                        placeholder="% de horas extras" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error2" style="color:red;">Por favor llene el campo de % de horas extras</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">Cantidad de zapatillas</span>
                    </div>
                    <input v-model.number="quantitySlippers" type="text" class="form-control col-6  mb-2  "
                        placeholder="Cantidad zapatillas" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error3" style="color:red;">Por favor llene el campo de cantidad de
                    zapatillas</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">% de zapatillas inicial</span>
                    </div>
                    <input v-model.number="percentageSlippers17" type="text" class="form-control col-6  mb-2  "
                        placeholder="% de zapatillas" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error4" style="color:red;">Por favor llene el campo de % de zapatillas
                    inicial</span>

            </div>
        </div>
        
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">% de zapatillas final</span>
                    </div>
                    <input v-model.number="percentageSlippers30" type="text" class="form-control col-6  mb-2  "
                        placeholder="% de zapatillas final" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error5" style="color:red;">Por favor llene el campo de % de zapatillas final</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">Cantidad de zapatos</span>
                    </div>
                    <input v-model.number="quantityShoes" type="text" class="form-control col-6  mb-2  "
                        placeholder="Cantidad de zapatos" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error6" style="color:red;">Por favor llene el campo de cantidad zapatos</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">% de zapatos inicial</span>
                    </div>
                    <input v-model.number="percentageShoes10" type="text" class="form-control col-6  mb-2  "
                        placeholder="% de zapatos inicial" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error7" style="color:red;">Por favor llene el campo de % de zapatos inicial</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">% de zapatos final</span>
                    </div>
                    <input v-model.number="percentageShoes20" type="text" class="form-control col-6  mb-2  "
                        placeholder="% de zapatos final" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error8" style="color:red;">Por favor llene el campo de % de zapatos final</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">Comisión por 1 niño</span>
                    </div>
                    <input v-model.number="childrenCommission1" type="text" class="form-control col-6  mb-2  "
                        placeholder="Comisión por 1 niño" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error9" style="color:red;">Por favor llene el campo de Comisión por 1 niño</span>

            </div>
        </div>
        <div class="row ">
            <div class="col">
                <div class="input-group mb-1 ">

                    <div class="input-group-prepend col-6 ">
                        <span class="input-group-text " id="basic-addon1">Comisión por 2 niños</span>
                    </div>
                    <input v-model.number="childrenCommission2" type="text" class="form-control col-6  mb-2  "
                        placeholder="Comisión por 2 niños" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <span class="" v-if="error10" style="color:red;">Por favor llene el campo de Comisión por 2 niños</span>

            </div>
        </div>
        <div class="row ps-3 pe-3 mt-2 mb-2">

            <button type="button" @click="validate()" class="btn btn-outline-secondary">Guardar</button>

        </div>
        <div class="row text-center mt-4">
            <h2>Datos actualizados</h2>
        </div>
        <div class="row" id="tabla">
            <div class="container pe-3 ps-3">
                <div class="table-responsive">
                    <table class="table table-bordered border-dark mt-4  table-strip">
                        <thead>
                            <tr>
                                <th scope="col-2">Concepto</th>

                                <th scope="col-2">Valores</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Valor salario base</td>
                                <td>$ {{baseSalary2}}</td>
                            </tr>
                            <tr>
                                <td>% de horas extras</td>
                                <td>$ {{overtimePercentage}}</td>
                            </tr>
                            <tr>
                                <td>Cantidad de zapatillas</td>
                                <td>$ {{quantitySlippers}}</td>
                            </tr>
                            <tr>
                                <td>% de zapatillas inicial</td>
                                <td>$ {{percentageSlippers17}}</td>
                            </tr>
                            <tr>
                                <td>% de zapatillas final</td>
                                <td>$ {{percentageSlippers30}}</td>
                            </tr>
                            <tr>
                                <td>Cantidad de zapatos</td>
                                <td>$ {{quantityShoes}}</td>
                            </tr>
                            <tr>
                                <td>% de zapatos inicial</td>
                                <td>$ {{percentageShoes10}}</td>
                            </tr>
                            <tr>
                                <td>% de zapatos final</td>
                                <td>$ {{percentageShoes20}}</td>
                            </tr>
                            <tr>
                                <td>Comisión por 1 niño</td>
                                <td>$ {{childrenCommission1}}</td>
                            </tr>
                            <tr>
                                <td>Comisión por 2 niño</td>
                                <td>$ {{childrenCommission2}}</td>
                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../logic/modify assembler.js"> </script>
    <script src="https://kit.fontawesome.com/98ca51e2a0.js" crossorigin="anonymous"></script>
</body>

</html>